.app__coursepage{
    margin-left: 16vw;
    padding: 4vw;
}
.app__coursepage-taglines{
    gap: 2vh;
    p{
        color: var(--primary-dark);
    }

    #welcome{
        font-size: 3vh;
        color: var(--primary-dark);

        span{
            font-weight: 600;
            color: var(--black-color);
        }
    }
}
.app__coursepage-cards{
    display: flex;
    overflow-x: scroll;
    padding: 4vh 0;
    width: 76vw;
    gap: 3vw;
    
    .app__coursepage-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1vh;
        border-radius: 1.8vh;
        border: 2px solid transparent;
        transition: ease-in-out 0.2s;

        &:hover{
            border: 2px solid var(--secondary-color);
            

            
        }

        img{
            width: 12vw;
            border-radius: 0.9vh;
        }
        p{
            color: var(--primary-dark);
            font-size: 1.8vh;
            margin-top: 1vh;
            text-align: left;
        }
        #subjectName{
            color: var(--black-color);
            font-size: 2vh;
            margin-top: 2vh;
            font-weight: 600;
        }

    }

}
.app__coursepage-link{
    margin-top: 2vh;
    display: flex;
    align-items: center;

}
h2{
    color: var(--black-color);
    font-size: 2.5vh;
    margin-top: 8vh;
}
.app__coursepage-notices{
    display: flex;
    width: 46vw;
    flex-direction: column;
    height: 66vh;
    overflow-y: auto;


}
.app__notice{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 4vh;

    
}
.notice-wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    p{
        font-size: 1.8vh;
        color: var(--primary-dark);
    }
}
#notice{
    font-size: 2vh;
    color: var(--black-color);

}
.bullet{
    width: 8px;
    height: 12px;
    border: 0;
    background-color: red;
    border-radius: 4vh;
    margin-right: 1vh;
    // box-shadow: 3px 3px 10px red;
    
}
