.app__hero{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
}
#title{
    font-size: 4vh;
    font-weight: 600;
}
.app__hero-navbar{
    display: flex;
    justify-content: space-between;
    width: 92vw;
    padding: 0 4vw;

}
.app__hero-navbar-menu{
    display: flex;
    gap: 3vw;
    

    a{
        text-decoration: none;
        color: var(--primary-dark);
        
        
        p{
            border-bottom: 2px solid transparent;
            transition: all ease-in-out 0.2s;
            padding-bottom: 4px;

            &:hover{
                color: var(--tertiary-color);
                border-bottom: 2px solid var(--tertiary-color);
                border-radius: 2px;
            }
        }
        
        
    }
}
.app__hero-main{
    display: flex;
}
.app__hero-main-left{
    width: 42vw;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;

    p{
        font-size: 2.5vh;
    }
}
#title-main{
    font-size: 7vh;
    font-weight: 600;
    padding-bottom: 2vh;

    span{
        border-bottom: 3px solid var(--);
        border-radius: 2px;
        color: var(--secondary-color);
        
    }

}
.app__hero-main-left-icons{
    display: flex;
    justify-content: space-between;
    width: 18vw;
    margin-top: 6vh;
}
