.app__hero{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
}
#title{
    font-size: 4vh;
    font-weight: 600;
}

.app__hero-main{
    display: flex;
}
.app__hero-main-left{
    width: 42vw;
    margin-top: 6vh;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;

    p{
        font-size: 2.5vh;
    }
}
#title-main{
    font-size: 7vh;
    font-weight: 600;
    padding-bottom: 2vh;

    span{
        border-bottom: 3px solid var(--);
        border-radius: 2px;
        color: var(--black-color);
        
    }

}
.app__hero-main-left-btns{
    display: flex;
    justify-content: space-between;
    width: 18vw;
    margin-top: 6vh;

    button{
        padding: 2vh 3vh;
        background: none;
        border-radius: 2vh;
        border: 2px solid var(--tertiary-color);
        font-size: 2vh;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &:hover{
            box-shadow: 2px 2px 15px var(--secondary-dark);
        }

    }
}
#signup{
    background-color: var(--tertiary-color);
    color: var(--background-light);

}
.app__hero-main-right{
    margin-top: 4vh;
}

