.app__courseinfo{
    display: flex;
}
.app__courseinfo-course{
    margin-left: 16vw;
    padding: 4vw;
    gap: 2vh;
    flex-direction: column;

    p{
        color: var(--primary-dark);
    }
}
#courseName{
    font-size: 3vh;
    color: var(--black-color);
    font-weight: 600;
}