.app__courseinfo{
    display: flex;
    width: 100vw;
}
.app__courseinfo-wrapper{
    margin-left: 16vw;
    width: 90vw;
    padding: 4vw;
    gap: 2vh;
    flex-direction: column;

    p{
        color: var(--primary-dark);
    }
}
.app__courseinfo-coursenotes{
    flex-direction: column;
    width: 35vw;
    

}
.app__note-item{
    display: flex;
    align-items: center;
    margin-top: 4vh;
    width: 35vw;
    justify-content: space-between;
    gap: 2vh;
}
.app__note-item-desc{
    display: flex;
    align-items: center;
}
.app__note-item-title{
    display: flex;
    flex-direction: column;

    h3{
        font-size: 2vh;
    }
}
.app__courseinfo-content{
    display: flex;
    width: 74vw;
    justify-content: space-between;
}
.downloadIcon{
    margin-left: 6vw;
}