.app__navbar{
    display: flex;
    position: fixed;
    justify-content: flex-start;
    gap: 8vh;
    background-color: var(--primary-color);
    flex-direction: column;
    width: 16vw;
    align-items: center;
    padding: 6vh 2vh;
    height: 100vh;

    h3{
        color: var(--background-light);
        font-size: 4vh;
    }
}
.app__navbar-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vh;
    

    a{
        text-decoration: none;
        color: var(--secondary-dark);
    }

    
}
.menu-item{
    align-items: center;
    display: flex;
    gap: 1vw;
}
.logout{
    margin-top: 42vh;

    a{
        text-decoration: none;
        color: var(--secondary-dark);
    }

}