@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}


body{
  overflow-x: hidden;
  background: var(--background-light);
  height: 100vh;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 0;
}

:root{
  --background-light: #F1F6FD;
  --sec-background-light: #B9CAEF;
  --primary-color: #010825;
  --secondary-color: #5692C1;
  --primary-dark: #424556;
  --black-color: rgb(7, 0, 54);
  --secondary-dark: #969AAC;
  --tertiary-color: #fc3f00;
}

