@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}


body{
  overflow-x: hidden;
  background: linear-gradient(-45deg, var(--secondary-dark), var(--primary-dark));
  height: 100vh;
  overflow-y: auto;
}
::-webkit-scrollbar{
  width: 0;
}

:root{
  --background-light: #e3e3e3;
  --sec-background-light: #F0D3F7;
  --primary-color: #1590a3;
  --secondary-color: #0d6ac2;
  --primary-dark: #1a191c;
  --secondary-dark: #0e0d13;
  --tertiary-color: rgb(193, 61, 17);
}

